In [5]:
import os
os.listdir()

['.ipynb_checkpoints',
 '160.First Bokeh Plot.ipynb',
 '161. Exercise_Creating triangle and circle.ipynb',
 'data.txt',
 'Line.html',
 'Triangle.html',
 'Untitled.ipynb']

In [13]:
from bokeh.plotting import figure
from bokeh.io import output_file , show
import pandas

df = pandas.read_csv("data.txt")                                                     #Creating a dataframe
x = df["x"]
y = df["y"]


output_file ("pandas.html")

f = figure()

f.line(x,y)

show(f)

In [12]:
df

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10